.about-us {
    font-size: 1.2rem;
    padding: $section-indent;
    background: $secondary-color;
    &__description {
        margin: 0 auto;
        max-width: 941px;
    }
}

@media screen and (max-width: 1024px) {
    .about-us {
        padding: 80px 0;
        font-size: .88rem;
        &__description {
            max-width: 602px;
        }
    }
}

@media screen and (max-width: 768px) {
    .about-us {
        padding: 70px 0;
        font-size: .8rem;
        &__description {
            max-width: 541px;
        }
    }
}