* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: #000;
    font-size: 25px;
    font-weight: 300;
}

body {
    font-family: 'Source Serif 4', serif;
    text-align: center;
    font-size: 0;
}