.content-wrapper {
    font-style: normal;
    padding: 218px 0 185px;
    &__name {
        margin: 0 auto;
        font-size: 3.4rem;
        max-width: 914px;
        width: 100%;
    }
    &__text-description {
        margin: 35px 0 60px;
        font-size: 1rem;
        font-weight: $normal-font-weight;
    }
}

@media screen and (max-width: 1440px) {
    .content-wrapper {
        padding-left: 203px;
        padding-right: 203px;
    }
}

@media screen and (max-width: 1024px) {
    .content-wrapper {
        padding: 183px 168px 153px 159px;
        &__name {
            font-size: 2.4rem;
            max-width: 697px;
        }
        &__text-description {
            margin-bottom: 63px;
            font-size: .72rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .content-wrapper {
        padding: 171px 0 99px;
        &__name {
            font-size: 2rem;
            max-width: 329px;
        }
        &__text-description {
            margin-bottom: 66px;
        }
    }
}