.menu-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
    .menu-wrapper {
        margin-bottom: 45px
    }
}

@media screen and (max-width: 768px) {
    .menu-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 678px) {
    .menu-wrapper {
        align-items: center;
    }
}