.up-arrow {
    position: fixed;
    bottom: 19px;
    right: 20px;
    font-size: 2rem;
    text-align: left;
    background: #FFAC1C;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
}